#g238{
    transform:"matrix(0.90783,0,0,1.0603049,-9.5419879,-11.574811)";
    fill:"#3fbfb7";
    stroke:"#000000";
    stroke-width:"0.32346";
    opacity:1;
    stroke-width:0.161807;
    stroke-dasharray:none;
}


